.main{
    background-image: url(https://i.im.ge/2024/07/30/V4SoC8.trees-1587301-1920.jpeg);
    animation:   change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(https://i.im.ge/2024/07/30/V4SoC8.trees-1587301-1920.jpeg);
    }
    20%
    {
        background-image: url(https://i.im.ge/2024/07/30/V4d1PJ.pexels-felixmittermeier-957024.jpeg);
    }
    40%
    {
        background-image: url(https://i.im.ge/2024/07/30/V4dI39.pexels-kelly-1179532-2876511.jpeg);
    }
    60%
    {
        background-image: url(https://i.im.ge/2024/07/30/V4SBPm.munnar-4769654-1920.jpeg);
    }
    80%
    {
        background-image: url(https://i.im.ge/2024/07/30/V4dhq8.pexels-pixabay-414061.jpeg);
    }
    100%
    {
        background-image: url(images/pexels-fabianreitmeier-707915.jpg);
    }
}