.main{
    background-image: url(https://i.im.ge/2024/08/01/Ve74oh.pexels-kelly-1179532-2876511.jpeg);
    animation:   change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve74oh.pexels-kelly-1179532-2876511.jpeg);
    }
    20%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve7BhM.pexels-tomfisk-2739666.jpeg);
    }
    40%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve7JW8.pexels-kelly-1179532-2519390.jpeg);
    }
    60%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve7pO9.jungle-7459821-1920.jpeg);
    }
    80%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve7eBD.tropical-7459824-1920.jpeg);
    }
    100%
    {
        background-image: url(https://i.im.ge/2024/08/01/Ve7zzK.macaw-5561611-1920.jpeg);
    }
}