.main{
    background-image: url(https://i.im.ge/2024/08/01/VeI6Ir.b15.jpeg);
    animation:   change 10s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeI6Ir.b15.jpeg );
    }
    20%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeIwMm.b14.jpeg
        );
    }
    40%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeIjgf.b13.jpeg);
    }
    60%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeI951.b12.jpeg
        );
    }
    80%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeI5rP.b11.jpeg
        );
    }
    100%
    {
        background-image: url(https://i.im.ge/2024/08/01/VeIiVp.b10.jpeg
        );
    }
}