* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
  margin-top: 50px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.button-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-top: 80vh;
  padding: 0 40px;
  
}

.slide-button {
  display: flex;
  align-items: center;
  background-color: #bea3b37e;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: relative;
}

.button-text {
  z-index: 1;
  position: relative;
  transition: transform 0.3s ease;
}

.arrow-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  transition: transform 0.3s ease;
}

.left-arrow .arrow {
  transform: rotate(135deg);
}

.right-arrow .arrow {
  transform: rotate(-45deg);
}

.left-arrow .arrow-container {
  margin-right: 10px;
  margin-left: 0;
}

.right-arrow .arrow-container {
  margin-left: 10px;
}

.left-arrow:hover .arrow {
  transform: rotate(135deg) translateX(-5px);
}

.right-arrow:hover .arrow {
  transform: rotate(-45deg) translateX(5px);
}

.left-arrow:hover .button-text {
  transform: translateX(-5px);
}

.right-arrow:hover .button-text {
  transform: translateX(5px);
}

.slide-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: left 0.3s ease;
  border-radius: 25px;
}

.left-arrow:hover::before {
  left: 0;
}

.right-arrow:hover::before {
  left: 0;
}
