.main {
    background-image: url(https://i.im.ge/2024/07/30/V4qKcC.Motane1.jpeg);
    animation: change 15s infinite ease-in-out;
}
@keyframes change {
    0% {
        background-image: url(https://i.im.ge/2024/07/30/V4qKcC.Motane1.jpeg);
    }
    20% {
        background-image: url(https://i.im.ge/2024/07/30/V4qVeq.Motane2.jpeg);
    }
    40% {
        background-image: url(https://i.im.ge/2024/07/30/V4qk7p.Motane3.jpeg);
    }
    60% {
        background-image: url(https://i.im.ge/2024/07/30/V4q6wy.Motane4.jpeg);
    }
    80% {
        background-image: url(https://i.im.ge/2024/07/30/V4qw1J.Motane5.jpeg);
    }
    100% {
        background-image: url(https://i.im.ge/2024/07/30/V4qtXz.Motane6.jpeg);
    }
}